{% extends "base.html" %}
{% comment %}

Main page to authenticate users.

{% endcomment %}


{% block content %}

    <section>
        <form method="post" action="../">{% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Submit" />
        </form>
    </section>
{% endblock %}