<!DOCTYPE html>
<html>
<head>
    <title>Fuck You</title>
    <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}Includes/fuckyoulist.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(".AddCommentButton").on("click", function (e) {
                e.preventDefault();
                $(this).next('.addComment').show();
            });

            $(".SubmitComment").on("click", function (e) {
                var m = $(this).prevAll('.TextAreaComment').val();
                var comments = "/api/v1/comment/" + $(this).prevAll(':hidden').val() + "/"
                var data = JSON.stringify({"message": m, "fuck": comments});
                $.ajax({
                    url:'/api/v1/comment/',
                    type: 'POST',
                    data: data,
                    contentType:"application/json; charset=utf-8",
                    dataType: 'json',
                    success: function() {
                        $(this).parent().hide();
                    }
                })
            });

        });
    </script>
</head>
<body>
    <div class="FuckList">
        <h1>Fuck You</h1>
    {% block content %}
    </div>
    {% endblock %}
</body>
</html>