{% extends 'base.html' %}
{% block content %}
    <ul>
        {% for fuck in object_list %}
            <li>
                <div class="fuckitem">
                    <p class="fuck">{{ fuck.message }}</p>

                    <p class="fuckauthor">{{ fuck.author }}</p>

                    <p>{{ fuck.modified_date }}</p>

                    <div class="comments">
                        {% for comment in fuck.comment_set.all %}
                            <h3>{{ comment.message }}</h3>
                            <p>{{ comment.author }}</p>
                            {% if request.user == comment.author %}
                                <a href="/editComment">Edit Comment</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a href="#" class="AddCommentButton">add comment</a>

                    <div class="addComment" style="display:none">
                        <input type="hidden" value="{{ fuck.id}}" />
                        <textarea class="TextAreaComment">

                        </textarea>
                        <a href="#" class="SubmitComment">Submit comment</a>
                    </div>
                    {% if request.user == fuck.author %}
                        <a href="/editFuck">Edit</a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        {% if is_paginated %}
            <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
            </div>
        {% endif %}
    </ul>
    <a href="/newfuck">Fuck You...</a>
{% endblock %}
