body{
    background-image: url("Images/blackorchid.png");
    background-repeat: repeat;
}

.FuckList{
    background-image: url("Images/linedpaper.png");
    background-repeat: repeat;
    width:960px;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}

p, h1, h2, h3{
    font-family: 'Monda', sans-serif;
}

li{
    list-style: none;
}

p.fuck{
    font-size: 1.2em;
}

p.fuckauthor{
    font-size: .8em;
    position:relative;
}
